:root {
  --color-primary: hsl(229, 42%, 21%);
  --color-primary-hover: hsl(229, 42%, 26%);
  --color-secondary: hsl(9, 97%, 61%);
  --color-secondary-hover: hsl(9, 97%, 66%);
  --color-accents: hsl(225, 57%, 97%);
  --padding-horizontal: 120px;
  --padding-vertical: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
